footer{
  padding-top: 4rem;
  background: $bg;
  .footer-top{
    h5{
      margin-bottom: 2.4rem;
    }
    ul{
      padding: 0;
      margin: 0;
      li{
        list-style: none;
        &:not(:last-child){
          margin-bottom: 1.6rem;
        }
        a{
          font-size: 1.8rem;
          font-weight: 400;
          color:$gray700;
          text-decoration: none;
        }
      }
    }
  }
  .footer-middle{
    margin:4rem 0;
  }
  .footer-bottom{
    .col-12{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 3.2rem 0;
      border-top:1px solid $white;      
    }
  }
}