footer{
  background: $bg;
  margin-top: 9.5rem;
  .footer-top{
    padding: 4rem 0;
    h5{
      margin-bottom: 2.4rem;
    }
    .content-block{
      div{
        display: flex;
        align-items: center;
        margin-bottom: 1.6rem;
        img{
          margin-right: 1.9rem;
        }
        a{
          font-size: 1.8rem;
          font-weight: 400;
          color:$white;
          text-decoration: none;
        }
      }
      &.content-headquarters{
        margin-top: 4rem;
        div{
          align-items: flex-start;
        }
      }
    }
    ul{
      padding: 0;
      margin: 0;
      li{
        list-style: none;
        &:not(:last-child){
          margin-bottom: 1.2rem;
        }
        a{
          font-size: 1.8rem;
          font-weight: 400;
          color:$gray700;
          text-decoration: none;
        }
      }
    }
    .map-img{
      max-width: 100%;
    }
  }
  .footer-middle{
    .container{
      padding-top: 4rem;
      padding-bottom: 4rem;    
      border-top:1px solid $white;
      border-bottom:1px solid $white;              
    }
  }
  .footer-bottom{
    .col-12{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 3.2rem 0;
    }
  }
}