$white:#FAFAFA;
$black:#1E1C25;
$bg:#2E2B37;
$color2:#2E2C3E;
$color3:#383854;
$color4:#43435A;
$color5:#565469;
$color6:#65647D;
$color7:#7C7D9B;
$color8:#A7A7C6;
$color9:#A0AED8;
$color12:#CBD7E2;
$color13:#C4C4C4;
$color14:#E8E8E8;
$color15:#8C8C8C;
$gray800:#6F6E6E;
$gray700:#A5A4A8;