.header .navbar-brand .logo{
    width: 320px;
}
.module-contact{
    margin-left: 0;
}
footer .content-block .footer-widget-content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 16px;    
}
footer .content-block .footer-widget-content a{
    color:#9b9b9b;
}
footer .content-block .footer-widget-content img{
    margin-right:19px;
}
footer .content-block.content-headquarters .footer-widget-content {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.contact-card textarea {
    width: 100%;
    height: 150px;
    padding-left: 16px;
    padding-top: 20px;
}

.contact .contact-widget-title h5{
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-transform: capitalize;
    margin-bottom: 30px;    
}

.contact .contact-widget-content{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.contact .contact-widget-content img{
    margin-right: 20px;
}

.contact .content-headquarters .contact-widget-content{
    align-items: flex-start;
}

.contact .contact-widget-content a,.contact .contact-widget-content span{
    color:#fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;    
}

.projects.projects-grid .carousel .owl-nav{
    top:50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.projects.projects-grid .carousel .owl-nav .owl-next,.projects.projects-grid .carousel .owl-nav .owl-prev{
    position: relative;
}
.contact .contact-panel p{
    color:#fff;
}
.counters{
    padding-bottom: 0;
}
.blades-img3{
    margin-left: -100px;
}